<h1>Stupid Coaching</h1>
<form class="form-inline" action="/answer">
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" name="question" class="form-control" placeholder="Question">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Ask!</button>
</form>
